*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container .row .logo img{
    height: 14%;
    width: 142%;
    margin-top: 41px;
    margin-left: -42px;
    display: inline;
}

                    /* START ACCORDION */

#title .container .row .title-div{
    position: relative;
    display: table-cell;
    height: 200px;
}

#title .container .row .title-div h1{
    font-size: 50px;
    color: #0e0e0e;
    line-height: 1.32em;
    font-family: "Playfair Display",serif;
    font-weight: 400;
    margin-top: 70px;
}

#title .container .row .accordion-left .accordion-item .accordion-header :hover{
    background-color: orangered;
    color: white;
}

#title .container .row .accordion-right .accordion-item .accordion-header :hover{
    background-color: orangered;
    color: white;
}

#title .container .row .accordion-left2{
    margin-top: 200px;
}
#title .container .row .accordion-left2 .accordion-item .accordion-header :hover{
    color: orangered;
}
#title .container .row .accordion-right2{
    margin-top: 200px;
}
#title .container .row .accordion-right2 .accordion-item .accordion-header :hover{
    color: orangered;
}
                        /* END ACCORDION */

                        /* START TABS */
 #title-tab .container .row .title-div h1{
    font-size: 50px;  
    color: #0e0e0e;
    line-height: 1.32em;
    font-family: "Playfair Display",serif;
    font-weight: 400;
    margin-top: 70px;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    width: 150px;
}
#tabs .container .row .nav-left .tab-left .tab-link-left{
    color: black;
}
#tabs .container .row .nav-left .tab-left .tab-link-left:hover{
    color: orangered;
}

#tabs .container .row .tab-content{
    padding: 75px 47px;
    border: 1px solid #eee; 
    width: 50%;
    margin-right: 1px;
}
#tabs .container .row .nav-right .tab-right .tab-link-right{
    color: black;
}
#tabs .container .row .nav-right .tab-right .tab-link-right:hover{
    background-color: orangered;
    color: white;
}
#tabs .container .row .tab-full .tab-link-full{
    color: black;
} 
#tabs .container .row .tab-full .tab-link-full:hover{
    color: orangered;
}

#tabs .container .row .tab-full {
    padding: 75px 47px;
    width: 100%;
    margin-right: 1px;
}
#tabs .container .row .vertical-tab .v-buttons button{
    color: black;
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    width: 150px;
}
#tabs .container .row .vertical-tab .v-buttons button:hover{
    color: white;
    background-color: orangered;
}

