* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container .row .logo img {
    height: 14%;
    width: 142%;
    margin-top: 41px;
    margin-left: -42px;
    display: inline;
}

/* START NAVBAR */

header nav {
    padding: 0px !important;
  }
  
  header nav #logo {
    width: 205px;
    height: 25px;
  }
  
  header nav #mobile-navbar-show {
    cursor: pointer;
    border: none;
  }
  
  header nav ul li {
    position: relative;
    padding: 38px 20px;
  }
  
  header nav ul li a {
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 22px;
    color: #737373;
    font-weight: 500;
  }
  
  header nav ul li a::after {
    content: "";
    -webkit-transition: width .3s;
    transition: width .3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: black;
  }
  
  header nav ul li a:hover {
    text-decoration: none;
  }
  
  header nav ul li a:hover::after {
    width: 80%;
  }
  
  header nav ul li .fa-search {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  header nav ul li i, header nav ul li span {
    cursor: pointer;
  }
  
  header nav ul li ul {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    position: absolute;
    top: 115px;
    left: 0;
    width: 228px;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    background-color: white;
  }
  
  header nav ul li ul li {
    padding: 5px 30px;
    
  }
  
  header nav ul li ul li i {
    font-size: 10px !important;
  }
  
  header nav ul li ul li ul {
    opacity: 0 !important;
    visibility: hidden !important;
    top: -15px;
    left: 100%;
  }
  
  header nav ul li ul li #input-search {
    border: none;
  }
  
  header nav ul li ul li #input-search:focus {
    outline: none;
  }
  
  header nav ul li ul li:hover ul {
    opacity: 1 !important;
    visibility: visible !important;
  }
  
  header nav ul li ul .element ul {
    top: 0;
  }
  
  header nav ul li .elements li {
    text-align: left;
  }
  
  header nav ul li .shop {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    position: absolute;
    top: 115px;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    background: white;
  }
  
  header nav ul li .shop ul {
    width: auto;
    opacity: 1;
    visibility: visible;
    position: relative;
    top: 0;
  }
  
  header nav ul li .shop ul li {
    padding: 5px 0;
  }
  
  header nav ul li .shop ul li a {
    padding: 0 !important;
  }
  
  header nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
  }
  
  header nav ul li:hover .shop {
    opacity: 1;
    visibility: visible;
    z-index: 99;
  }
  
  header nav ul li.shop-li {
    position: static;
  }
  
  header nav ul .shop-cart sup {
    padding: 1px 3px;
  }
  
  header nav ul .shop-cart ul {
    top: 100px;
    left: -70%;
  }
  
  header nav ul .shop-cart ul li {
    font-size: 14px;
  }
  
  header nav ul .search ul {
    visibility: visible;
    opacity: 1;
    top: 100px;
    display: none;
  }
  
  header nav ul .search ul li i {
    font-size: 14px !important;
  }
 
  header .mobile-navbar {
    -webkit-transition: all .3s;
    transition: all .3s;
    top: 0;
    right: 36px;
    width: 0;
    opacity: 0;
    visibility: hidden;
    background-color:white;
  }
  
  header .mobile-navbar .fa-times {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
  }
  
  header .mobile-navbar ul li {
    margin-top: 20px;
  }
  
  header .mobile-navbar ul li a {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  
  header .mobile-navbar ul li a:hover {
    text-decoration: none;
  }
  
  header .mobile-navbar ul ul {
    display: none;
  }
  
  header .mobile-navbar ul ul li {
    margin-top: 0;
  }
  
  header .mobile-navbar ul ul li a {
    padding: 0 !important;
    text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 0em;
  }
  
  header .mobile-navbar ul ul ul li {
    text-transform: uppercase;
  }
  
  header .mobile-navbar.active {
    width: 420px;
    visibility: visible;
    opacity: 1;
    right: 0;
    z-index: 9;
  }
/* END NAVBAR */

/* START ACCORDION */

#title .container .row .title-div {
    position: relative;
    display: table-cell;
    height: 200px;
}

#title .container .row .title-div h1 {
    font-size: 50px;
    color: #0e0e0e;
    line-height: 1.32em;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    margin-top: 70px;
}

#title .container .row .accordion-left .accordion-item .accordion-header :hover {
    background-color: orangered;
    color: white;
}

#title .container .row .accordion-right .accordion-item .accordion-header :hover {
    background-color: orangered;
    color: white;
}

#title .container .row .accordion-left2 {
    margin-top: 200px;
}

#title .container .row .accordion-left2 .accordion-item .accordion-header :hover {
    color: orangered;
}

#title .container .row .accordion-right2 {
    margin-top: 200px;
}

#title .container .row .accordion-right2 .accordion-item .accordion-header :hover {
    color: orangered;
}

/* END ACCORDION */

/* START TABS */
#title-tab .container .row .title-div h1 {
    font-size: 50px;
    color: #0e0e0e;
    line-height: 1.32em;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    margin-top: 70px;
}

.nav-tabs .nav-content-links {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    width: 150px;
}

#tabs .container .row .nav-left .tab-left .tab-link-left {
    color: black;
}

#tabs .container .row .nav-left .tab-left .tab-link-left:hover {
    color: orangered;
}

#tabs .container .row .tab-content {
    padding: 75px 47px;
    border: 1px solid #eee;
    width: 50%;
    margin-right: 1px;
}

#tabs .container .row .nav-right .tab-right .tab-link-right {
    color: black;
}

#tabs .container .row .nav-right .tab-right .tab-link-right:hover {
    background-color: orangered;
    color: white;
}

#tabs .container .row .tab-full .tab-link-full {
    color: black;
}

#tabs .container .row .tab-full .tab-link-full:hover {
    color: orangered;
}

#tabs .container .row .tab-full {
    padding: 75px 47px;
    width: 100%;
    margin-right: 1px;
}

#tabs .container .row .vertical-tab .v-buttons button {
    color: black;
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    width: 150px;
}

#tabs .container .row .vertical-tab .v-buttons button:hover {
    color: white;
    background-color: orangered;
}

                            /* END TABS */

                        /* START PROGRESSBAR */

#progressbar .container .row .progress-left .progress {
    display: flex;
    height: 3px !important;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

#progressbar .container .row .progress-left .progress .progress-bar {
    height: 3px;
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    background-color: #f34f3f;
    transition: width 0.6s ease 0s;
}
#progressbar .container .row .progress-left .title-progress-holder .title{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
    top: 40px;
    font-family: Lora,serif;
    color: #2b2b2b;
}
#progressbar .container .row .progress-left .title-progress-holder .percent{  
    margin-left: 90%;
    margin-top: 300px;
    width: auto;
    opacity: 1;
    z-index: 10;
    font-family: Lora,serif;
    color: #2b2b2b;
    font-size: 18px;
}
#progressbar .container .row .progress-right .progress {
    display: flex;
    height: 3px !important;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

#progressbar .container .row .progress-right .progress .progress-bar {
    height: 3px;
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    background-color: #f34f3f;
    transition: width 0.6s ease 0s;
}
#progressbar .container .row .progress-right .title-progress-holder .title{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
    top: 40px;
    font-family: Lora,serif;
    color: #2b2b2b;
}
#progressbar .container .row .progress-right .title-progress-holder .percent{  
    margin-left: 90%;
    margin-top: 300px;
    width: auto;
    opacity: 1;
    z-index: 10;
    font-family: Lora,serif;
    color: #2b2b2b;
    font-size: 18px;
}
#progressbar .container .row .progress-full .progress {
    display: flex;
    height: 3px !important;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

#progressbar .container .row .progress-full .progress .progress-bar {
    height: 3px;
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    background-color: #f34f3f;
    transition: width 0.6s ease 0s;
}
#progressbar .container .row .progress-full .title-progress-holder .title{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
    top: 27px;
    font-family: Lora,serif;
    color: #2b2b2b;
}
#progressbar .container .row .progress-full .title-progress-holder .percent{  
    margin-left: 96%;
    margin-top: 300px;
    width: auto;
    opacity: 1;
    z-index: 10;
    font-family: Lora,serif;
    color: #2b2b2b;
    font-size: 18px;
}

@keyframes animateBar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
/* END PROGRESSBAR */

/* START SHOPLIST */

#shoplist .container .row .card{
    width: 270px;
    height: 270px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: aliceblue;
    border-radius: 0.25rem;
}

#shoplist .container .row .card .new-span{
    width: 40px;
    height: 10px;
    position: absolute;
    display: block;
    top: 0;
    width: auto;
    height: 30px;
    background: #f34f3f;
    color: #fff;
    font-family: playfair display,serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    box-sizing: border-box;
    margin: 10px 0 0 12px;
    padding: 5px 13px;
    z-index: 100;
}

#shoplist .container .row .card .sold-span{
    width: 40px;
    height: 10px;
    position: absolute;
    display: block;
    top: 0;
    width: auto;
    height: 30px;
    background: #2b2b2b;
    color: #fff;
    font-family: playfair display,serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    box-sizing: border-box;
    margin: 10px 0 0 12px;
    padding: 5px 13px;
    z-index: 100;
}

#shoplist .container .row .card .inner{
    position: absolute;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    background-color: transparent;
}
#shoplist .container .row .card .inner .name{
    line-height: 1;
    margin: 0 0 12px;
    color: #1b1b1b;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 2em;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    position: absolute;
    top: 58px;
    left: 81px;
}
#shoplist .container .row .card .inner .price{
    font-family: Montserrat,sans-serif;
    position: absolute;
    top: 93px;
    left: 101px;
}
#shoplist .container .row .card .inner .addcart{
    transition: color .3s ease,background-color .3s ease,border-color .3s ease;
    padding: 13px 42px;
    white-space: nowrap;
    z-index: 3;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    outline: 0;
    font-size: 12px;
    font-family: Montserrat,sans-serif;
    line-height: 1.833em;
    letter-spacing: .1em;
    font-weight: 500;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 0;
    margin: 0;
    color: #fff;
    background-color: #f34f3f;
    border: 1px solid transparent;
    top: 173px;
    left: 33px;
}
#shoplist .container .row .card-middle{
    width: 270px;
    height: 270px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: aliceblue;
    border-radius: 0.25rem;
}
#shoplist .container .row .card-middle .new-span{
    width: 40px;
    height: 10px;
    position: absolute;
    display: block;
    top: 0;
    width: auto;
    height: 30px;
    background: #f34f3f;
    color: #fff;
    font-family: playfair display,serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    box-sizing: border-box;
    margin: 10px 0 0 12px;
    padding: 5px 13px;
    z-index: 100;
}
#shoplist .container .row .card-middle .sold-span{
    width: 40px;
    height: 10px;
    position: absolute;
    display: block;
    top: 0;
    width: auto;
    height: 30px;
    background: #2b2b2b;
    color: #fff;
    font-family: playfair display,serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    box-sizing: border-box;
    margin: 10px 0 0 12px;
    padding: 5px 13px;
    z-index: 100;
}
#shoplist .container .row .card-middle .name-middle{
    line-height: 1;
    margin: 0 0 12px;
    color: #1b1b1b;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 2em;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    position: absolute;
    top: 274px;
    left: 94px;
}
#shoplist .container .row .card-middle .price-middle{
    font-family: Montserrat,sans-serif;
    position: absolute;
    top: 294px;
    left: 116px;
    color: #afafaf;
}

#shoplist .container .row .card-middle:hover{
    width: 270px;
    height: 270px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: aliceblue;
    border-radius: 0.25rem;
}
#shoplist .container .row .card-bottom{
    width: 190px;
    height: 190px;
}  
#shoplist .container .row .card-bottom .name-bottom{
    line-height: 1;
    margin: 0 0 12px;
    color: #1b1b1b;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 2em;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    position: relative;
    left: 38px;
}
#shoplist .container .row .card-bottom .price-bottom{
    font-family: Montserrat,sans-serif;
    position: relative;
    top: 25px;
    left: -27px;
    color: #afafaf;
}
/* END SHOPLIST */


/* START FOOTER */
footer {
    background-color: #fefaf3;
  }
  
  footer .items h6 {
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  footer a {
    font-size: 14px;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  
  footer a:hover {
    color: #f34f3f !important;
    text-decoration: none;
  }
  
  footer p {
    font-size: 12px;
  }
/* END FOOTER */

/* START VIDEO  */
#video{
    background-color: #f7f7f7;
}
  #video .img {
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  #video .img img {
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  #video .img:hover img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  
  #video .img .player {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    background: white;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);     
  }
  
  #video .about-text p, #video .video-text li {
    font-size: 17px;
    line-height: 29px;
  }
  
  #video .video-text h2{
    font-family: playfair display,serif;
    font-size: 38px;
    font-weight: 400;
  }
/* END VIDEO */

/* START FLOWER-EXPERTS */
#flower-experts .items .text h6 {
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  #flower-experts .items .text p {
    font-size: 12px;
  }
/* END FLOWER-EXPERTS */


/* START PARALLAX */
#parallax {
  background: url(../IMG/h3-background-img.jpg);
  background-attachment: fixed;
}

#parallax .parallax-content h3 {
  color: #fff;
  font-size: 30px;
  font-family: "Playfair Display", serif;
}

#parallax .parallax-content input {
  border: none;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  padding: 30px !important;
  width: 100% !important;
}

#parallax .parallax-content input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 576px) {
  #parallax .parallax-content input {
    width: 50% !important;
  }
}

#parallax .parallax-content ::-webkit-input-placeholder {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
}

#parallax .parallax-content :-ms-input-placeholder {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
}

#parallax .parallax-content ::-ms-input-placeholder {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
}

#parallax .parallax-content ::placeholder {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
}

#parallax .parallax-content button {
  padding: 20px !important;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: #f34f3f;
}
/* END PARALLAX */


/* START BLOGS */
#our-blogs{
  background-color: #f7f7f7;
}
#our-blogs .items .img {
  overflow: hidden;
}

#our-blogs .items .img img {
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#our-blogs .items .img img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#our-blogs .items .img .our-date {
  top: 10px;
  left: 10px;
}

#our-blogs .items .img .our-date span {
  cursor: pointer;
  font-size: 12px;
  letter-spacing: .15em;
  -webkit-transition: color .3s;
  transition: color .3s;
}

#our-blogs .items .img .our-date span:hover {
  color: #f34f3f;
}

#our-blogs .items .text h5 {
  cursor: pointer;
  font-family: "Playfair Display", serif;
  font-size: 22px;
}

#our-blogs .items .text p {
  font-family: Lora, serif;
  line-height: 29px;
}
/* END BLOGS */